*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}
html{
    font-size: 65%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
    background-color: rgb(172, 172, 172);
}
.calculadora {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid black;
}

.calculadora-pantalla{
    padding: 25px 15px;
    width: 98%;
    margin: 5px;
    text-align: right;
    border: 1px solid black;
    overflow-x: auto;
    background-color: aliceblue;
    font-size: 2rem;
}

.calculadora-botones{
    display: flex;
    width: 100%;
}

.botones-numeros{
    display: flex;
    width: 98%;
    margin: 5px;
    flex-wrap: wrap;

}
.boton{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid black;
}
.boton:hover{
    filter: brightness(80%);
    transition: 10ms;
}

.boton.amarillo{
    background-color: yellow;
}
.boton.oscuro{
    background-color: gainsboro;
}
.boton.largo{
    width: 50%;
}